Repository hmcts/adoption-backend, pull requests merged in 2020-03, with the labels that each got.

#23 feat: create a case endpoint
  build.gradle
  charts/adoption-backend/Chart.yaml
  charts/adoption-backend/values.aat.template.yaml
  charts/adoption-backend/values.preview.template.yaml
  charts/adoption-backend/values.yaml
  codecov.yml
  config/owasp/suppressions.xml
  docker-compose.yml
  infrastructure/aat.tfvars
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/ApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/controller/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/controller/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/adoption/controller/StartCaseControllerTest.java
  src/main/java/uk/gov/hmcts/reform/adoption/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/adoption/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/adoption/controller/RootController.java
  src/main/java/uk/gov/hmcts/reform/adoption/controller/StartCaseController.java
  src/main/java/uk/gov/hmcts/reform/adoption/model/Applicant.java
  src/main/java/uk/gov/hmcts/reform/adoption/request/RequestData.java
  src/main/java/uk/gov/hmcts/reform/adoption/service/CoreCaseDataService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/reform/adoption/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/service/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/adoption/service/CoreCaseDataServiceTest.java
Labels: ns:adoption, rel:adoption-backend-pr-23

#33 FPLA-NA readme wip
  README.md
  bin/init.sh
Labels: ns:adoption, rel:adoption-backend-pr-33

#32 impr: moved definition files to backend project
  README.md
  bin/configurer/import-ccd-definition.sh
  bin/configurer/utils/ccd-import-definition.sh
  bin/configurer/utils/fpl-process-definition.sh
  bin/configurer/utils/idam-lease-service-token.sh
  bin/configurer/utils/idam-lease-user-token.sh
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/citizen.json
  ccd-definition/AuthorisationCaseField/clerk.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseField.json
  ccd-definition/CaseType.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/Jurisdiction.json
  ccd-definition/SearchInputFields.json
  ccd-definition/SearchResultFields.json
  ccd-definition/State.json
  ccd-definition/UserProfile.json
  ccd-definition/WorkBasketInputFields.json
  ccd-definition/WorkBasketResultFields.json
Labels: ns:adoption, rel:adoption-backend-pr-32

#36 FPLA-NA update charts version and env vars
  charts/adoption-backend/Chart.yaml
  charts/adoption-backend/values.aat.template.yaml
Labels: ns:adoption, rel:adoption-backend-pr-36

#37 fix: update build status badge
  README.md
Labels: ns:adoption, rel:adoption-backend-pr-37

#38 fix: update chart env var definition to use Go templating format for environment name
  charts/adoption-backend/Chart.yaml
  charts/adoption-backend/values.yaml
Labels: ns:adoption, rel:adoption-backend-pr-38
